.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;

}

.form_control input {
  padding: .7em;
  border-radius: 0;
  border: none;
  background-color: #faf6e8;
}


.form_control input::placeholder { /*Com da do do input*/
    color: #666363;
}